{{>head}}
{{>navbar}}
<div class="row">
    <div class="col-8">
        <h1>holis</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente nam doloribus porro neque nemo! Fugit nostrum animi nobis expedita voluptate! Quibusdam sapiente illum totam inventore incidunt repellendus impedit delectus. Velit?</p>
    </div>
    <div class="col-4">
        <img src="assets/img/copia.jpg"  class="img-thumbnail">
    </div>
</div>
{{>footer}}